*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Ubuntu', sans-serif; */
    /* color: #E1324B; */
}

body{
	/* height: 100vh; */
	/* width: 100vh; */
	background: #FFFAFF;
	
	
}

.about-container{
	/* background-color: #565c56; */
	overflow-x: hidden;
	/* background-image: linear-gradient(0deg, #565c56 0%, #ebebeb 100%); */
}

.about-section{
	width: 100%;
	padding: 0px 80px;
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.about-section h1{
	text-align: center;
	color: #151414;
}

.line{
	width: 100%;
}

.history{
	/* background: red; */
	gap: 50px;
	margin: 20px 0px;
	display: flex;
	align-items: start;
	justify-content: space-between;
}

h2{
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 20px;
}



.history img{
	width: 200px;
}

.partners-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header{
	/* background: blue; */
	text-align: center;
	color: #151414;
}

.partners{
	width: 100%;
	padding: 20px;
	gap: 40px;
	display: flex;
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	
}



.partners .partner{
	border-radius: 4px;
	width: 200px;
	height: 230px;
	display: flex;
	align-items: center;
	overflow: hidden;
	object-fit: cover;
	background-size: cover;
	background-position: center;	
}

.partners .partner img{
	color: #FFFAFF;
	width: 100%;
	border-radius: 4px;
}

.partner.staff {
	align-items: end;
	/* background: gray; */
	background-image: url(images/t1.jpg);
}

.staff:nth-child(1n + n){
	background-image: url(images/t2.jpg);
}

p {
	font-weight: 300;
}

.section p{
	width: 50%;
	text-align: center;
	margin: 20px;
	font-weight: 300;
}

.section {
	/* width: 100%; */
	background: #FFFAFF;
	padding: 20px 0px;
	margin: 30px 0px;
	min-height: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.name-role {
	width: 100%;
	background: rgba(21, 20, 20, .8);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 8px;
	
	
}

.name-role h3 {
	font-size: 12px;
	font-weight: 400;
}

.name-role h4 {
	font-size: 16px;
	font-weight: 500;
}


/************ ABOUT MOBILE PAGE STYLING ***********/

@media only screen and (max-width: 700px) {
	
	.about-section{
		padding: 0px 30px;
	}
	
	.history{
		gap: 20px;
		align-items: center;
		flex-direction: column;
	}
	
	.section {
		padding: 20px 30px;
	}
	
	.section p{
		width: 100%;
	}
	
	.section .partner{
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;
	}
	
	.section .partner img{
		width: 150px;
	}
	
	.section .partners{
		gap: 20px;
	}
	
	.section .staff{
		width: 150px;
		height: 180px;
		display: flex;
		align-items: end;
		background-size: cover;
		background-position: center;
		object-fit: cover;
	}
}