.newsletters {
	margin-top: 120px;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news-letters{
	width: 100%;
	padding: 20px 50px;
}

.issue{
	padding-top: 20px;
	display: flex;
	align-items: start;
	justify-content: space-between;
}


.issue .dates{
	width: 80%;
	display: flex;
	align-items: start;
	justify-content: left;
	gap:80px;
}

.dates div{
	min-width: 300px;
}

.dates div p{
	width: 100%;
	text-align: left;
	font-size: 14px;
}


.dates .issue-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	background-color: rgba(244, 38, 38, 0.9);
	color: #FFFAFF;
	border-radius: 4px;
	padding: 8px 16px;
	
}

.issue-info span a i {
	font-size: 22px;
	color: rgba(21, 20, 20, 1);
	padding: 0px 8px;
}


.news-letters h2{
	color: #F42626;
}

.header .line{
	width: 100%;
}


.newsletters p{
	margin: 20px 0;
	width: 60%;
	text-align: center;
}



/************ NEWSLETTER MOBILE PAGE STYLING ***********/

@media (max-width: 930px) {
	
.newsletters{
	height: auto;
}

.header .line{
	width: 100%;
}

.newsletters p{
	width: 90%;
}

.news-letters{
	padding: 30px;
}

.news-letters h2{
	margin-bottom: 10px;
}

.issue{
	width: 100%;
	padding: 0;
	flex-direction: column;
}
	
.issue .dates{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:20px;
	padding: 0;
}

}
