.newsletters {
	margin-top: 120px;
	background: #FFFAFF;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news-letters{
	width: 100%;
	padding: 20px 50px;
	background: #FFFAFF;
}

.w3-container{
	width: 100%;
}

.tab-header{
	background: #ECECE9;
	/* padding: 12px; */
	/* gap: 8px; */
	display: flex;
	justify-content: center;
}

.tablink{
	background: #B3B3A8;
	color: #161613;
	width: 100%;
	height: 40px;
	padding: 0 12px;
	border: none;
	/* border-radius: 4px; */
	outline: none;
	font-size: 16px;
	font-weight: normal;
	cursor: pointer;
	transition: .2s ease;
}

.tablink:hover{
	background: gray;
}

.active-tab{
	background: #F42626;
	color: #FFFAFF;
	cursor: none;
}

.tablink:nth-child(2){
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

/* .news-letters{
	width: 100%;
	padding: 20px 50px;
}

.issue{
	padding-top: 20px;
	display: flex;
	align-items: start;
	justify-content: space-between;
}


.issue .dates{
	width: 80%;
	display: flex;
	align-items: start;
	justify-content: left;
	gap:80px;
}

.dates div{
	min-width: 300px;
}

.dates div p{
	width: 100%;
	text-align: left;
	font-size: 14px;
}


.dates .issue-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	background-color: rgba(244, 38, 38, 0.9);
	color: #FFFAFF;
	border-radius: 4px;
	padding: 8px 16px;
	
}

.issue-info span a i {
	font-size: 22px;
	color: rgba(21, 20, 20, 1);
	padding: 0px 8px;
}


.news-letters h2{
	color: #F42626;
}

.header .line{
	width: 100%;
}


.newsletters p{
	margin: 20px 0;
	width: 60%;
	text-align: center;
} */



/************ NEWSLETTER MOBILE PAGE STYLING ***********/

@media (max-width: 930px) {
	
.newsletters{
	height: auto;
}

.header .line{
	width: 100%;
}

.newsletters p{
	width: 90%;
}

.news-letters{
	padding: 30px;
}

.w3-container{
	flex-direction: column;
}

.news-letters h2{
	margin-bottom: 10px;
}

.issue{
	width: 100%;
	padding: 0;
	flex-direction: column;
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
}

.issue:hover {
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
}

.year{
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
	padding: 20px 0px;
}
	
.issue .dates{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:20px;
	padding: 0;
}

.paragraph{
	padding: 0rem 0rem;
	width: 100%;
	/* background: green; */
}

.tab-header{
	width: 100%;
	flex-wrap: wrap;
	gap: 4px;
}

.tablink{
	max-width: 150px;
}

.tablink:nth-child(2){
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

}


/************ NEWSLETTER MOBILE PAGE STYLING ***********/

.paragraph{
	width: 70%;
	padding: 0;
	text-align: center;	
}

.year{
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.6px);
	-webkit-backdrop-filter: blur(12.6px);
}

.issue{
	padding: 8px;
	background: #FFFAFF;
	min-height: 500px;
	width: 350px;
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-direction: column;
	border: 2px solid #ECECE9;
	border-bottom-radius: 4px;
	border-bottom: 4px solid #F42626;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.6px);
	-webkit-backdrop-filter: blur(12.6px);
	transition: .2s ease;
	/* border-radius: 4px; */
}

.issue:hover {
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(6.6px);
	-webkit-backdrop-filter: blur(6.6px);
}

.issue h2{
	font-size: 24px;
	font-weight: normal;
	line-height: 1.8rem;
}

.issue p{
	overflow: hidden;
	white-space: no-wrap;
	text-overflow: ellipsis;
	font-size: 12px;
	color: gray;;
}

.issue h2, p, .read-more {
	margin: 8px;
}

.issue img{
	border-radius: 4px;
	width: 100%;
	height: 220px;
}

.issue .read-more{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0px  12px;
	height: 45px;
	background: #F42626;
	text-decoration: none;
	font-size: 14px;
	border-radius: 4px;
	transition: .2s ease;
}

.read-more:hover{
	background: rgba(244, 38, 38, .9);
	text-decoration: underline;
	/* color: #151414; */
}

