
@media only screen and (max-width: 800px) {

nav{
	
	padding: 12px 10px;
	
	.home {
		
		
		a{
			font-size: 0px;
			font-weight: 500;
			visibility: hidden;
		}
	}
	
	.links-list {
		font-size: 16px;
		display: flex;
		
		
		button{
			font-size: 14px;
		}
	}
	
	.sidebar{
		background-color: #FFFAFF;
		position: fixed;
		top: 0;
		right: 0;
		height: auto;
		width: 100%;
		display: none;
		flex-direction: column;
		align-items: start;
		justify-content: flex-start;
		padding: 20px;
		font-size: 16px;
		z-index: 999;
	
		.apply {
			width: 100%;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		button{
			font-size: 16px;
		}
		
		.dropbtn{
			display: flex;
		}
	
		.link{
			display: flex;
		}
	}
	
	.navBtn{
		display: flex;
	}
}

.links-list .link, .dropbtn{
	display: none;
}

.links-list .link:last-child{
	display: flex;
	font-size: 20px;
}

.logo{
	width: 60px;
	height: 40px;
	background-image: url(images/logo.jpg);
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.landing-page{
	width: 100%;
	height: 60vh;
	
	.area{
		
		h1{
			font-weight: 600;
			font-size: 45px;
		}
		
		h3{
			padding-top: 20px;
			font-weight: 400;
			font-size: 20px;
		}
	}
}

/************ MISSION STATEMENT AREA STYLING ***********/

.news-area {
	padding: 20px;
	
	.content{
		/* background: yellow; */
		
		.content-area{
			padding: 20px 0;
				
		}
			.article{
				width: 100%;
				margin-bottom: 20px;
			}
	}
}

.picture:nth-child(1){
	top: 390px;
	width: 130px;
	left: -145px;
}

.picture:nth-child(2){
	width: 180px;
	top: 360px;
	right: 220px;
}

/************ FOOTER STYLING ***********/


.footer-content{
	width: 100%;
	height: auto;
	gap: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
}

.details {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

iframe{
	width: 400px;
	height: 300px;
}

.footer ul {
	width: 100%;
	align-items: center;
	
}

.social-media{
	width: 100%;
	justify-content: center;
}

}

/***********************/
