@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    /* color: #E1324B; */
}

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-track{
	background: transparent;
}

::-webkit-scrollbar-thumb{
	background: #F42626;
}

html{
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body {
	a, p, h2, h3, h4, button, li, th, td, span, input {
		font-family: 'Nunito';
	}
}

.container{
    width: 100%;
    /* height: 100vh; */
	overflow-x: hidden;
	/* background-image: linear-gradient(0deg, #565c56 0%, #ebebeb 100%); */
}

/*------------------------ NAVIGATION BAR ------------------------*/

nav{
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: #FFFAFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 50px;
	
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.6px);
	-webkit-backdrop-filter: blur(6.6px);
	z-index: 9;
}

nav .home{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	
}

.logo{
	width: 60px;
	height: 60px;
	background-image: url(images/logo.jpg);
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.home a{
	font-family: 'Ubuntu';
	font-size: 28px;
	font-weight: 600;
	text-decoration: none;
	color: #F42626;
}

.links-list {
	/* gap: 20px; */
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 16px;
}

.links-list .link{
	text-decoration: none;
	color: #151414;
	padding:14px;
	text-align: center;
}

.links-list .link:hover{
	background-color: #F42626; 
	color: #FFFAFF;
}

.apply{
	background: #F42626;
	padding: 16px;
	height: 50px;
	border: 2px solid #F42626;
	display: flex;
	align-items: center;
	transition: .2s linear;
}

.links-list .apply{
	color: #FFFAFF;
}

.apply:hover{
	background: transparent;
	border: 2px solid #F42626;
	color: #F42626;
}

.sidebar {
	display: none;
	padding: 20px;
	z-index: 999;
	
	.apply {
		width: 100%;
		text-align: center;
		display: none;
		align-items: center;
		justify-content: center;
	}
	
	.link:last-child{
		display: flex;
	}
	
	i{
		font-size: 20px;
	}
}

.links-list .link:last-child{
	display: none;
}

.links-list .link, .dropbtn{
	display: flex;
}

/*------------------------ DropDown ------------------------*/
.dropbtn {
  background-color: transparent;
  color: #151414;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFAFF;
  min-width: 205px;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #F42626; color: #FFFAFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #F42626; color: #FFFAFF;}

/*------------------------ Download Box ------------------------*/

.application{
	max-width: 500px;
	height: 100px;
	padding: 26px 16px;
	border-radius: 4px;
	background: #F42626;
	position: fixed;
	right: 3%;
	top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	flex-direction: column;
	z-index: 1;
	font-size: 20px;
	visibility: hidden;
	transition: .6s;
	
	i {
		color: #FFFAFF;
	}
	
	h3{
		font-size: 14px;
		color: #FFFAFF;
	}
}



/* .application:hover{
	background: #FFFAFF;
} */
.downloading{
	/* max-width: 500px; */
	/* padding: 16px; */
	
	top: 100px;
	visibility: visible;
}


/* .application button{
	background: #F42626;
	color: #FFFAFF;
	border-radius: 4px;
	font-size: 12px;
	padding: 12px;
	outline: none;
	border: none;
	cursor: pointer;
} */


/*------------------------ LANDING PAGE ------------------------*/

.landing-page{
	min-width: 100%;
	height: 88vh;
	background: #FFFAFF;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.section{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.landing-page .section{
	background-image: url(images/home-background.jpg);
}

.section .area {
	position: absolute;
	width: 100%;
	background: red;
	/* background-image: url(images/desks.jpg); */
}

.slide {
	position: absolute;
	left: 40%;
	z-index: 9999;
}

/*------------------------ Study Area ------------------------*/

.landing-page .study{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	/* padding: 0 120px; */
	color: #FFFAFF;
	background: rgba(5, 6, 9, 0);
	gap: 20px;
}

.area div{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 8px;
	background: rgba(5, 6, 9, 0);
	padding: 20px;
	border-radius: 4px;
	color: #FFFAFF;
	transition: .4s ease;
}

.area {
	
	h1{
		font-weight: 600;
		font-size: 65px;
		font-family: "Ubuntu";
	}
	
	h3{
		font-family: "Ubuntu";
		font-weight: 400;
		font-size: 35px;
	}
	
	div:hover{
		background: rgba(5, 6, 9, .4);
	}
}

.area p{
	font-weight: 500;
	font-size: 18px;
	text-transform: lowercase;
	color: #FFFAFF;
}

.enroll{
	max-height: 45px;
	background: #FFFAFF;
	color: #050609;
	border: 2px solid #FFFAFF;
	padding: 10px 18px;
	text-decoration: none;
	border-radius: 4px;
	transition: .2s linear;
	font-size: 14px;
}

.enroll:hover{
	background: transparent;
	color: #FFFAFF;
}


/*------------------------ NEWS AREA ------------------------*/

.news-area {
	max-height: 100vh;
	width: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	background: #FFFAFF;
}

.content{
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
	height: 100%;
	/* background: red; */
	gap: 20px;
}

.news-area h1{
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.headers{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.line{
	width: 100%;
	height: 6px;
	border-radius: 2px;
	background: #F42626;
}

.content-area{
	padding: 20px;
	width: 100%;
	height: auto;
}

.article{
	width: 100%;
	margin-bottom: 20px;
	gap: 20px;
	
	p{
		text-align: center;
	}
}

/* .article a{
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #F42626;
} */

.article p, span{
	font-size: 16px;
}

.article span{
	text-decoration: underline blue;
	
}

.reasons{
	/* background: green; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	padding: 30px 0px;
}

.reason{
	color: #F42626;
	width: 100%;
	
	.vision{
		width: 100%;
		text-align: center;
	}
}

ol{
	padding: 10px 20px;
}

.reason {flex-grow: 1;}

.reason p, ol{
	padding-top: 15px;
	color: #151414;
	
}

.pictures{
	/* background: green; */
	height: auto;
	background: yellow;
}

.picture {
	position: relative;
	border-radius: 4px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	
	transition: 0.4s;
}

.picture:hover{
	transform: scale(1.05);
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
}

.picture:nth-child(1){
	top: 0;
	z-index: 3;
	right: 0;
	width: 200px;
}

.picture:nth-child(2){
	width: 300px;
	top: 20px;
	right: 80px;
}
/* .picture:nth-child(3){ */
	/* top: 80px; */
	/* left: 30%; */
/* } */



/*------------------------ FOOTER ------------------------*/

.footer{
	width: 100%;
	height: auto;
	background-color: #FFFAFF;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	border-top: 2px solid #F42626;
}

.footer-content{
	width: 100%;
	padding: 30px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer div{
	height: 100%;
}

.footer p{
	color: #FFFAFF;
	font-size: 15px;
}

.footer ul {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	padding: 20px 0px;
	
}

ul li{
	list-style: none;
	/* padding: 12px 18px; */
	/* background: white; */
	font-size: 20px;
	font-weight: 400;
	color: #F42626;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

li a{
	min-height: 45px;
	color: #F42626;
	font-size: 16px;
	text-decoration: none;
	font-weight: 400;
	padding: 12px 18px;
}

li a i{
	color: #F42626;
}

.details{
	width: 80%;
	
	h2{
		font-size: 30px;
	}
	
	p{
		color: #151414;
	}
}

.contact-info {
	display: flex;
	align-items: start;
	flex-direction: column;
}

.social-media .network{
	background: #FFFAFF;
	color: #F42626;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
}

.network i{
	font-size: 25px;
}

.social-media{
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 20px;
	
}



/*------------------------ MAP ------------------------*/


iframe{
	min-height: 100%;
}


/*------------------------ NewsLetter Link ------------------------*/

.newsletter{
	background-color: #F42626;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	min-height: 100px;
	
	
	a{
		text-decoration: none;
		font-size: 25px;
		font-weight: 600;
		padding: 0;
		color: #FFFAFF;
		transition: .4s ease;
	}
	
	a:hover{
		text-decoration: underline;
	}
}

